@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}

input, textarea {
  outline: 1px solid rgba(232, 232, 232, 0.75);
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e7e7e7;
  border: 1px solid #ffffff;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bfdbfe;
}

h2 {
  color: #333; /* Cor do texto */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte */
  margin: 16px 0; /* Margem superior e inferior */
}

/* Estilização para h3 */
h3 {
  color: #555;
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

pre {
  background-color: #f7f7f9; /* Cor de fundo */
  border: 1px solid #d1d1d6; /* Borda */
  border-radius: 5px; /* Cantos arredondados */
  padding: 10px; /* Espaçamento interno */
  overflow: auto; /* Barra de rolagem quando necessário */
  font-size: 14px; /* Tamanho da fonte */
  line-height: 1.5; /* Espaçamento entre linhas */
  color: #333; /* Cor do texto */
}

/* Estilização para o código dentro do pre */
pre code {
  font-size: 14px; /* Tamanho da fonte */
  line-height: 1.5; /* Espaçamento entre linhas */
  color: #333; /* Cor do texto */
}